<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-8 col-lg-6 col-xl-4">
    <h1 class="mb-4 text-center">Login</h1>

    @if (loginMessage) {
      <div class="alert alert-danger text-center" role="alert">
        {{ loginMessage }}
      </div>
    } @else {
      <div class="alert alert-secondary text-center" role="alert">
        Please Login
      </div>
    }

    <!--suppress AngularUndefinedBinding -->
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="p-4 border rounded shadow-sm">
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input
                autocomplete="username"
                class="form-control"
                formControlName="username"
                id="username"
                name="username"
                placeholder="Enter your username"
                type="text"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input
                autocomplete="current-password"
                class="form-control"
                formControlName="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                type="password"
        />
      </div>

      <button [disabled]="loading || !loginForm.valid" class="btn btn-primary w-100" type="submit">
        @if (loading) {
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        } @else {
          Login
        }
      </button>
    </form>
  </div>
</div>
