[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 140
ij_visual_guides = 140
tab_width = 4
ij_continuation_indent_size = 8

[*.scss]
indent_size = 2

[{*.js,*.jsx,*.ts,*.tsx}]
indent_size = 2
tab_width = 2

[{*.htm,*.html,*.sht,*.shtm,*.shtml}]
indent_size = 2
tab_width = 2

[{*.yaml,*.yml}]
indent_size = 2
