@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$primary: #196063;
$secondary: #a5a5a5;
$success: #43a047;
$warning: #fbc02d;
$danger: #d32f2f;
$dark: #2b3741;
$body-bg: #f3f0ef;
$body-color: #000000;
$text-muted: #b3b3b3;

$star-rating-color: #de7921;
$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'warning': $warning,
        'danger': $danger,
        'light': $body-bg,
        'dark': $dark,
);

.filled-star {
  color: $star-rating-color;
}

.empty-star {
  color: $star-rating-color;
}
@import 'bootstrap/scss/bootstrap';
