@if (book) {
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h2 class="card-title fs-4 mb-1">{{ book.titel.titel }}</h2>
          @if (book.rating) {
            <app-star-rating [attr.data-rating]="book.rating" [rating]="book.rating"></app-star-rating>
          }
        </div>
        @if (book.preis) {
          <div class="text-end">
            <span class="fs-5">
              {{ book.preis }}€
            </span>
            @if (book.rabatt) {
              <div class="text-danger">{{ book.rabatt }}</div>
            }
          </div>
        }

      </div>
      <a [routerLink]="['/book', book.id]" class="btn btn-dark btn-outline-secondary w-100 mt-3">Show Details</a>
    </div>
  </div>
}
